/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Libre+Baskerville:wght@700&family=Alfa+Slab+One&family=Palanquin+Dark:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-image: linear-gradient(-135deg, #311e11, #7d4e2d);
    /* color:#026c20; */
    font-family: 'Palanquin Dark', sans-serif;
}
@media(max-width: 75em){
    html{
        font-size: 60%;
    }
}
@media(max-width: 61.25em){
    html{
        font-size: 58%;
    }
}
@media(max-width: 600px){
    html{
        font-size: 55%;
    }
    .mainInfo p{
        padding: 5px;
        text-align: center;
    }
}

body{
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

footer{
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    border-top: 1px solid #000;
}
footer > p{
    margin: 2rem;
}
@media (max-width: 28.75em) {
    footer{
        flex-direction: column;
        align-items: center;
    }
}

h1,
h2{
    font-weight: 700;
    text-align: center;
}
h1{
    font-size: 6rem;
}
img{
    display: block;
}

/* navigation */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #026c20;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
.nav-links ul li::after{
    content: '';
    height: 2px;
    background: #0786b5;
    width: 0%;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.hero-btn{
    display: inline-block;
    background: #026c20;
    color: #fff;
    padding: 12px 34px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
}
.hero-btn:hover{
    background: #0786b5;
    border: 1px solid #026c20;
    transition: 1s;
}
nav .fa{
    display: none;
}
                                                                                                                                                        

/*title*/
.mainInfo h1{
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.mainInfo p{
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: auto;
}
/* parallax effect */
.mainInfo{
    background-image: url(../components/img/ladscape-gf.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.paws{
    width: auto;
    height: 50px;
    background-size: contain;
    background-image: url(../components/img/png-claw.png);
    background-repeat: repeat-x;
}

/*main body*/
    
.mainPage{
    text-align: center;
    padding: 10rem 2rem;

    background-image: url(../components/img/fields.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
/* Define the grid */
.main-grid, .sub-grid {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
@media (max-width: 30.625rem) {
    .mainPage{
        padding: 1rem 1rem;
    }
    .main-grid, .sub-grid{
        grid-template-columns: 1fr;
    }
}

/* who we are section */

.center h2{
    margin: 50px;
    font-size: 5rem;
}
.left h2, .right h2{
    margin: 30px;
    text-decoration: underline;
}
.left, .center, .right{
    font-family: 'Special Elite', cursive;
    background-color: rgba(0, 0, 0, 0.6);
}
.right img{
    width: 25%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.center p, .right p, .left p{
    padding: 30px;
    margin: 0 auto; 
    font-size: 2rem;
}
.center .learnMore{
    margin-bottom: 4rem;
}

/* youtube video section */
.youtubeSection{
    text-align: center;
    font-family: 'Special Elite', cursive;
    background-image: linear-gradient(-135deg, #2b1a0f, #543620);
}
.youtubeSection h2{
    font-size: 4rem;
    padding-top: 30px;
    text-decoration: underline;
}
.youtubeSection p{
    font-size: 2rem;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.video iframe{
    width: 85%;
    height: 80%;
    border: none;
}

/* contact us section */
.contactSection{
    padding: 20px;
    background-image: linear-gradient(-135deg, #2b1a0f, #543620);
 }
.contain {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
    color: black;
}
@media (min-width: 600px) {
    .contain {
      padding: 0;
    }
}
  
.contain h3 {
    margin: 0;
    text-decoration: underline;
    font-size: 2.25rem;
}
.contain ul{
    margin: 0;
    font-size: 1.5rem;
}
  
.contain h3 {
    margin-bottom: 1rem;
}
  
input:focus,
textarea:focus {
    outline: 3px solid #0786b5;
}
  
input,
textarea,
.contain button {
    width: 100%;
    border: 1px solid #000;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}
  
.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper > * {
    padding: 1em;
}
@media (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .wrapper > * {
      padding: 2em 2em;
    }
}
  
.contain ul {
    list-style: none;
    padding: 0;
}
  
.contacts {
    background-image: linear-gradient(-45deg, #02a831, #07240f);
    color: #fff;
}
  
.form {
    background-image: linear-gradient(-180deg, #ffffff, #b1adad);
}
  
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
form label {
    display: block;
}
form p {
    margin: 0;
}
  
.full-width {
    grid-column: 1 / 3;
}
  
.contain button,
input,
textarea {
    padding: 1em;
}
  
.contain button {
    background: lightgrey;
    width: 100%;
    border: 0;
}
.contain button:hover, .contain button:focus {
    background-image: linear-gradient(180deg, #02a831, #07240f);
    color: #fff;
    outline: 0;
}
/* the about us portion */
.about{
    background-image: linear-gradient(45deg, green, darkgreen);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 40vh;
}
.ourPurpose{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.mission{
    display: flex;
    flex-direction: row;

}
.missionPics img{
    width: 50vw;
    height: auto;
    margin: 0 auto;
}
.ourTeam{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
/* Sponsors page */
.sponsors{
    background-image: linear-gradient(45deg, green, darkgreen);
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

/* blog page */
.blog-grid-item img{
    width: 25vw;
}
