/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Libre+Baskerville:wght@700&family=Alfa+Slab+One&family=Palanquin+Dark:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-image: linear-gradient(-135deg, #311e11, #7d4e2d);
}
@media(max-width: 75em){
    html{
        font-size: 60%;
    }
}
@media(max-width: 61.25em){
    html{
        font-size: 58%;
    }
}
@media(max-width: 28.75em){
    html{
        font-size: 55%;
    }
}

body{
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}
/* navigation */
header{
    color:#026c20;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 2rem;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: large;
}
footer{
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
footer > p{
    margin: 2rem;
}
@media (max-width: 28.75em) {
    footer{
        flex-direction: column;
        align-items: center;
    }
}
h1,
h2{
    font-weight: 700;
    text-align: center;
}
h1{
    font-size: 6rem;
}
img{
    display: block;
}


.image-clickable {
    margin-right: auto;
}
.image-clickable img{
    height: 60px;
    margin-top: 8px;
}
 
.nav-links {
    list-style: none;
}
  
.nav-links li {
    display: inline-block;
    padding: 0 1.25rem;
}
  
.nav-links li a {
    text-decoration: none;
    font-size: 1.25rem;
    transition: all 0.5s ease 0s;
}

.nav-links li a:visited{
    text-decoration: none;
    color:#026c20;
}
  
.nav-links li a:hover {
    color: rgba(0, 173, 181, 0.8);
}
  
.navigation button {
    background: #026c20;
    cursor: pointer;
    padding: 9px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
    font-family: 'Palanquin Dark', sans-serif;
    margin-left: 20px;
}
                                                                                                                                                        

/*title*/
.mainInfo h1{
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.mainInfo p{
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: auto;
}
/* parallax effect */
.mainInfo{
    background-image: url(../components/img/ladscape-gf.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.paws{
    width: auto;
    height: 50px;
    background-size: contain;
    background-image: url(../components/img/png-claw.png);
    background-repeat: repeat-x;
}

/*main body*/
    
.mainPage{
    text-align: center;
    padding: 10rem 2rem;

    background-image: url(../components/img/fields.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
/* Define the grid */
.main-grid, .sub-grid, .blog-grid, .blog-grid-item {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
@media (max-width: 30.625rem) {
    .mainPage{
        padding: 6rem 1rem;
    }
    .main-grid, .sub-grid, .blog-grid, .blog-grid-item {
        grid-template-columns: 1fr;
    }
}

/* who we are section */
.center {
    grid-column: 2/3;
}
.center h2{
    margin: 50px;
    font-size: 5rem;
}
.left h2, .right h2{
    margin: 30px;
    text-decoration: underline;
}
.left, .center, .right{
    font-family: 'Special Elite', cursive;
    background-color: rgba(0, 0, 0, 0.6);
}
.right img{
    width: 25%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.center p, .right p{
    padding: 30px;
    margin: 0 auto; 
    font-size: 2rem;
}
.center .learnMore{
    margin-bottom: 4rem;
}

/* contact us section */
.contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    color: black;
  }
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  input:focus,
  textarea:focus {
    outline: 3px solid gold;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    border: 1px solid #000;
  }
  
  .wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  .wrapper > * {
    padding: 1em;
  }
  @media (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .wrapper > * {
      padding: 2em 2em;
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .contacts {
    background: #4b5195;
    color: #fff;
  }
  
  .form {
    background: #fff;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  form label {
    display: block;
  }
  form p {
    margin: 0;
  }
  
  .full-width {
    grid-column: 1 / 3;
  }
  
  button,
  input,
  textarea {
    padding: 1em;
  }
  
  button {
    background: lightgrey;
    width: 100%;
    border: 0;
  }
  button:hover, button:focus {
    background: gold;
    outline: 0;
  }
/* the about us portion */
.about{
    background-image: linear-gradient(45deg, green, darkgreen);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 40vh;
}
.ourPurpose{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.mission{
    display: flex;
    flex-direction: row;

}
.missionPics img{
    width: 50vw;
    height: auto;
    margin: 0 auto;
}
.ourTeam{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
/* Sponsors page */
.sponsors{
    background-image: linear-gradient(45deg, green, darkgreen);
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

/* blog page */
.blog-grid-item img{
    width: 25vw;
}
